<!DOCTYPE html>
<html>
<head>
  <title>Tematica</title>
  <%= stylesheet_link_tag    "tematica/application" %>
  <%= javascript_include_tag "tematica/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
